@import "../../../mixins/Animation.mixins.scss";

.topBlock {
  height: 40px;
  width: 100%;
  top: 0px;
}

.topBlockInvisible {
  @extend .topBlock;
  position: relative;
}

@include keyframes(move-down) {
  0% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.topBlockVisible {
  @extend .topBlock;
  position: fixed;
  background: linear-gradient(60deg, rgb(5, 55, 125), rgb(20, 95, 165));
  @include animation("move-down 2s 1");
}
