// @import "../../../../mixins/Transform.mixin.scss";
// @import "../../../../mixins/BoxShadow.mixin.scss";

.footerBody {
  display: flex;
  width: 100%;
  min-height: 50px;
  background-color: rgb(69, 76, 99);
}

#footerBodyID {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerBox {
  border-radius: 5px;
  margin: 10px;
  padding: 4px 13px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.3s;
}

.footerBoxTitle {
  text-align: center;
  width: 100%;
  min-height: 30px;
}

.footerBoxLink {
  color: rgb(29, 29, 29);
}

.footerBoxLink:hover {
  text-decoration: underline;
}
